.footer {
  padding: 2rem;
  text-align: center;
  @include maxWidth(400px) {
    font-size: $font-size-s;
    padding: 1rem;
  }

  &__description {
    color: $color-gray;
  }

  &__link {
    color: $color-gray;
  }

  &__user {
    font-weight: $font-bold;
    text-decoration: underline;
  }
}
