/** TYPOGRAPHY **/
$font-primary: "Montserrat", serif;
$font-secondary: "Lora", serif;
$font-terciary: "Crimson Pro", serif;

$font-bold: 700;
$font-semi-bold: 500;
$font-normal: 400;

$color-black: #181719;
$color-white: #fff;
$color-gray: #a9a9a9;
