/** TYPOGRAPHY **/
$font-primary: "Montserrat", serif;
$font-secondary: "Lora", serif;
$font-terciary: "Crimson Pro", serif;

$font-bold: 700;
$font-semi-bold: 500;
$font-normal: 400;

$font-size-xs: 0.75rem; // 12px;
$font-size-s: 0.875rem; // 14px;
$font-size-m: 1.125rem; // 18px;
$font-size-l: 1.5rem; // 24px;
$font-size-xl: 3rem; // 48px;

$color-black: #181719;
$color-white: #fff;
$color-gray: #a9a9a9;
